.z {
    &_0 {
        z-index: 0;
    }
    &_1 {
        z-index: 1;
    }
    &_2 {
        z-index: 2;
    }
    &_9 {
        z-index: 9;
    }
    &_99 {
        z-index: 99;
    }
    &_999 {
        z-index: 999;
    }
    &_9999 {
        z-index: 9999;
    }
    &_99999 {
        z-index: 99999;
    }
}